{% extends "nexus/base.html" %}
{% load static %}
{% load template_tags %}
{% load crispy_forms_tags %}
<!-- --- -->
{% block template_vendors_css %}
{% endblock template_vendors_css %}

{% block template_layout_css %}
{% endblock template_layout_css %}
<!-- --- -->

{% block page_messages %}
    <div class="container py-3 pt-lg-8 pb-lg-4">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div {% if message.tags %} class="alert alert-{{message.tags}} font-weight-bolder font-size-lg"{% endif %} >
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock page_messages %}

{% block page_title %}
    {{ title }}
{% endblock page_title %}

{% block breadcrumbs %}
    {% for item in breadcrumbs %}
        <li class="breadcrumb-item">
            <a href="{{ breadcrumbs|get_item:item }}" class="text-muted">{{ item }}</a>
        </li>
    {% endfor %}
{% endblock breadcrumbs %}

{% block subheader_toolbar %}{% endblock subheader_toolbar %}

{% block content %}
    <div class="container">
        <!--begin::Card-->
        <div class="card card-custom">
            <div class="card-header">
                <h1 class="card-title">{{ title }}</h1>
            </div>
            <div class="card-body">
                
            </div>
        </div>
    </div>
{% endblock content %}


<!-- --- -->
{% block template_vendor_js %}
{% endblock template_vendor_js %}

{% block template_page_js %}
{% endblock template_page_js %}
<!-- --- -->



{% block custom_scripts %}
{% endblock custom_scripts %}

