{% extends "nexus/base.html" %}
{% load static %}
<!-- --- -->
{% block template_vendors_css %}
{% endblock template_vendors_css %}

{% block template_layout_css %}
{% endblock template_layout_css %}
<!-- --- -->



{% block content %}
    <div class="container">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Crear nuevo proyecto</legend>
                {{ form.as_p }}
            </fieldset>
            <button type="submit">Aceptar</button>
        </form>
    </div>
{% endblock content %}


<!-- --- -->
{% block template_vendor_js %}
{% endblock template_vendor_js %}

{% block template_page_js %}
{% endblock template_page_js %}
<!-- --- -->



{% block custom_scripts %}
{% endblock custom_scripts %}

