{% extends "nexus/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
<!-- --- -->
{% block template_vendors_css %}
{% endblock template_vendors_css %}

{% block template_layout_css %}
{% endblock template_layout_css %}
<!-- --- -->


{% block page_title %}
    Listado de proyectos
{% endblock page_title %}

{% block breadcrumbs %}
    <li class="breadcrumb-item">
        <a href="" class="text-muted">Proyectos</a>
    </li>
    <li class="breadcrumb-item">
        <a href="" class="text-muted">Listado</a>
    </li>
{% endblock breadcrumbs %}

{% block subheader_toolbar %}{% endblock subheader_toolbar %}

{% block content %}
    <div class="container">
        {% for project in projects %}
            {{ project.title }}<br>
        {% endfor %}
    </div>
{% endblock content %}


<!-- --- -->
{% block template_vendor_js %}
{% endblock template_vendor_js %}

{% block template_page_js %}
{% endblock template_page_js %}
<!-- --- -->



{% block custom_scripts %}
{% endblock custom_scripts %}

