{% extends "nexus/base.html" %}
{% load static %}
{% load template_tags %}
{% load crispy_forms_tags %}
<!-- --- -->
{% block template_vendors_css %}
{% endblock template_vendors_css %}

{% block template_layout_css %}
{% endblock template_layout_css %}
<!-- --- -->


{% block page_title %}
    {{ title }}
{% endblock page_title %}

{% block breadcrumbs %}
    {% for item in breadcrumbs %}
        <li class="breadcrumb-item">
            <a href="{{ breadcrumbs|get_item:item }}" class="text-muted">{{ item }}</a>
        </li>
    {% endfor %}
{% endblock breadcrumbs %}

{% block subheader_toolbar %}{% endblock subheader_toolbar %}

{% block content %}
    <div class="container">
        <!-- begin:: Project Info Card -->
        <div class="row mb-5">
            <div class="col-md-12">
                <div class="card card-custom">
                    <div class="card-body d-flex align-items-center justify-content-between flex-wrap py-3">
                        <!--begin::Info-->
                        <div class="d-flex align-items-center mr-2 py-2">
                            <!-- begin::Logo -->
                            <div class="mr-5">
                                {% if project.image %}
                                    <div class="symbol symbol-50">
                                        <img style="height: auto;" alt="Pic" src="{{ project.image.url }}" />
                                    </div>
                                {% else %}
                                    <div class="symbol symbol-50 symbol-primary">
                                        <span class="symbol-label font-weight-boldest">{{ project.title|make_list|first|upper }}</span>
                                    </div>
                                {% endif %}
                            </div>
                            <!-- end::Logo -->
                            <!--begin::Title-->
                            <div class="d-flex flex-wrap">
                                <a href="{% url 'projects-detail' project.id %}">
                                    <h1 class="font-weight-bold text-dark text-hover-primary mr-5">{{ project.title }}</h1>
                                </a>
                                <h5 class="font-weight-bold d-flex align-items-center text-muted text-hover-dark mb-1">{{ project.short_description }}</h5>
                            </div>
                            <!--end::Title-->
                        </div>
                        <!--end::Info-->
                        <!--begin::Users-->
                        <div class="symbol-group symbol-hover py-2">
                            <div class="symbol symbol-40 symbol-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Alice Stone">
                                <img alt="Pic" src="{% static 'assets/media/users/300_19.jpg' %}">
                            </div>
                            <div class="symbol symbol-40 symbol-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Anna Krox">
                                <img alt="Pic" src="{% static 'assets/media/users/300_21.jpg' %}">
                            </div>
                            <div class="symbol symbol-40 symbol-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Nick Nilson">
                                <img alt="Pic" src="{% static 'assets/media/users/300_22.jpg' %}">
                            </div>
                            <div class="symbol symbol-40 symbol-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Ana Tor">
                                <img alt="Pic" src="{% static 'assets/media/users/300_23.jpg' %}">
                            </div>
                            <div class="symbol symbol-40 symbol-circle symbol-light-primary">
                                <!-- TODO: Show number of users not shown -->
                                <span class="symbol-label font-weight-bolder">5+</span>
                            </div>
                        </div>
                        <!--end::Users-->
                    </div>
                </div>
            </div>
        </div>
        <!-- end:: Project Info Card -->
        
        <!-- begin:: Ticket Title Row -->
        <div id="ticket-info" class="row">
            <div class="col-md-12">
                <div class="card  card-custom">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-9">
                                <h1 id="ticket-title" class="m-0"><span class="primary-dash"></span>{{ ticket.title }}</h1>
                            </div>
                            <div id="button-col" class="col-md-3">
                                <a href="{% url 'tickets-update' project.id ticket.id %}" class="btn btn-sm btn-primary btn-hover-light-primary font-weight-bolder text-uppercase mr-2">Modificar</a>
                                <a href="{% url 'tickets-delete' project.id ticket.id %}" class="btn btn-sm btn-danger btn-hover-light-danger font-weight-bolder text-uppercase mr-2">Eliminar</a>
                                <a href="{% url 'projects-detail' project.id %}" class="btn btn-sm btn-outline-secondary font-weight-bolder text-uppercase">Atrás</a>
                            </div>
                        </div>
                        <div class="row my-5">
                            <div class="col-md-8">
                                <p class="text-muted mt-3 mb-0">DESCRIPCIÓN:</p>
                                <p id="ticket-description" class="text-dark-50">{{ ticket.description }}</p>
                            </div>
                            <div id="dates" class="col-md-4">
                                <div class="d-flex align-items-center justify-content-end">
                                    <div class="mr-5 text-center">
                                        <div class="font-weight-bolder mb-2 text-dark-50">Fecha de creación</div>
                                        <span data-toggle="tooltip" data-original-title="{{ ticket.date_created|date:'h:i a' }}" class="btn btn-light-primary font-weight-bolder text-uppercase">
                                            {{ ticket.date_created|date:"d \d\e F, Y" }}
                                        </span>
                                    </div>
                                    {% if ticket.last_updated %}
                                        <div class="ml-5 text-center">
                                            <!-- TODO: If ticket is not closed, show last updated, else show date_closed -->
                                            <div class="font-weight-bolder mb-2 text-dark-50">Última modificación</div>
                                            <span data-toggle="tooltip" data-original-title="{{ ticket.last_updated|date:'h:i a' }}" class="btn btn-light-success font-weight-bolder text-uppercase">
                                                {{ ticket.last_updated|date:"d \d\e F, Y" }}
                                            </span>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if ticket.status == 'CERRADO' %}
                            <div class="row">
                                <div class="col-md-12 text-center text-md-left mt-5 mt-md-0">
                                    <label data-toggle="tooltip" data-title="Este ticket se encuentra cerrado" class="btn btn-danger">Ticket Cerrado</label>
                                </div>
                            </div>
                        {% endif %}
                        {% if ticket.status == 'ABIERTO' %}
                            <div class="row">
                                <div class="col-md-12 text-center text-md-left mt-5 mt-md-0">
                                    <label data-toggle="tooltip" data-title="Este ticket no se encuentra asignado a ningún desarrollador" class="btn btn-secondary">No asignado</label>
                                </div>
                            </div>
                        {% endif %}
                        {% if ticket.status == 'ASIGNADO' %}
                            <div class="row">
                                <div class="col-md-12 text-center text-md-left mt-5 mt-md-0">
                                    <label data-toggle="tooltip" data-title="Este ticket no se encuentra asignado a ningún desarrollador" class="btn btn-secondary">Ticket asignado a {{ ticket.assigned_to }}</label>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- end:: Ticket Title Row -->

        <div class="row">
            <div class="col-md-4 mt-5">
                <div class="card card-custom">
                    <div class="card-body ribbon ribbon-clip ribbon-right">
                        {% if ticket.priority == 'ALTA' %}
                            <div data-toggle="tooltip" data-title="Prioridad Alta" class="ribbon-target px-5" style="top: 15px; height: 45px;">
                                <span class="ribbon-inner bg-danger"></span>
                                <i class="fa fa-exclamation text-white"></i>
                            </div>
                        {% endif %}
                        <h3 class="text-center">Información del ticket</h3>
                        <div class="d-flex justify-content-center mb-5">
                            <a href="#" class="btn btn-sm btn-outline-primary font-weight-bolder px-10 py-3">Modificar Ticket</a>
                        </div>
                        <!-- Start:: Item -->
                        <div class="d-flex align-items-center mb-4">
                            <div class="symbol symbol-50 symbol-light mr-4">
                                <div class="symbol-label">
                                    <span class="svg-icon svg-icon-2x svg-icon-dark-50">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                <rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16" rx="1.5"></rect>
                                                <rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5"></rect>
                                                <rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5"></rect>
                                                <rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5"></rect>
                                            </g>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                            <div class="">
                                <div class="text-muted font-weight-bolder">Prioridad:</div>
                                {% if ticket.priority == 'ALTA' %}
                                    <span class="label label-lg label-danger label-inline font-weight-bolder py-3 px-3">{{ ticket.priority }}</span>
                                {% elif ticket.priority == 'MEDIA'  %}
                                    <span class="label label-lg label-warning label-inline font-weight-bolder py-3 px-3">{{ ticket.priority }}</span>
                                {% elif ticket.priority == 'BAJA' %}
                                    <span class="label label-lg label-primary label-inline font-weight-bolder py-3 px-3">{{ ticket.priority }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <!-- End:: Item -->
                        <!-- Start:: Item -->
                        <div class="d-flex align-items-center mb-4">
                            <div class="symbol symbol-50 symbol-light mr-4">
                                <div class="symbol-label">
                                    <span class="svg-icon svg-icon-2x svg-icon-dark-50">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                <rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16" rx="1.5"></rect>
                                                <rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5"></rect>
                                                <rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5"></rect>
                                                <rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5"></rect>
                                            </g>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                            <div class="font-weight-bolder">
                                <div class="text-muted">Estado:</div>
                                <span class="font-weight-bolder">{{ ticket.status }}</span>
                            </div>
                        </div>
                        <!-- End:: Item -->
                        <!-- Start:: Item -->
                        <div class="d-flex align-items-center mb-4">
                            <div class="symbol symbol-50 symbol-light mr-4">
                                <div class="symbol-label">
                                    <span class="svg-icon svg-icon-2x svg-icon-dark-50">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                <rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16" rx="1.5"></rect>
                                                <rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5"></rect>
                                                <rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5"></rect>
                                                <rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5"></rect>
                                            </g>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                            <div class="font-weight-bolder">
                                <div class="text-muted">Asignado a:</div>
                                <!-- TODO: Change to ticket.assigned_to -->
                                {% if ticket.assigned_to == None %}
                                    <div class="text-dark-75 text-hover-primary">No asignado</div>
                                {% else %}
                                    <div class="text-dark-75 text-hover-primary">{{ ticket.user }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <!-- End:: Item -->
                        <!-- Start:: Item -->
                        <div class="d-flex align-items-center mb-4">
                            <div class="symbol symbol-50 symbol-light mr-4">
                                <div class="symbol-label">
                                    <span class="svg-icon svg-icon-2x svg-icon-dark-50">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                <rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16" rx="1.5"></rect>
                                                <rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5"></rect>
                                                <rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5"></rect>
                                                <rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5"></rect>
                                            </g>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                            <div class="font-weight-bolder">
                                <div class="text-muted">Tipo:</div>
                                <span class="font-weight-bolder">{{ ticket.type }}</span>
                            </div>
                        </div>
                        <!-- End:: Item -->
                        <!-- Start:: Item -->
                        <div class="d-flex align-items-center mb-4">
                            <div class="symbol symbol-50 symbol-light mr-4">
                                <div class="symbol-label">
                                    <span class="svg-icon svg-icon-2x svg-icon-dark-50">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                <rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16" rx="1.5"></rect>
                                                <rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5"></rect>
                                                <rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5"></rect>
                                                <rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5"></rect>
                                            </g>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                            <div class="">
                                <div class="text-muted font-weight-bolder">Creado por:</div>
                                <div class="text-dark-75 text-hover-primary font-weight-bolder">{{ ticket.user }}</div>
                            </div>
                        </div>
                        <!-- End:: Item -->
                    </div>
                </div>
            </div>
            <div class="col-md-5 mt-5">
                <div class="card card-custom">
                    <div class="card-body">
                        test
                    </div>
                </div>
            </div>
            <div class="col-md-3 mt-5">
                <div class="card card-custom">
                    <div class="card-body">
                        test2
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


<!-- --- -->
{% block template_vendor_js %}
{% endblock template_vendor_js %}

{% block template_page_js %}
{% endblock template_page_js %}
<!-- --- -->



{% block custom_scripts %}
{% endblock custom_scripts %}

