{% extends "nexus/base.html" %}
{% load static %}
{% load template_tags %}
{% load crispy_forms_tags %}
<!-- --- -->
{% block template_vendors_css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/b-html5-1.6.5/datatables.min.css"/>
{% endblock template_vendors_css %}

{% block template_layout_css %}
{% endblock template_layout_css %}
<!-- --- -->


{% block page_messages %}
    <div class="container py-3 pt-lg-8 pb-lg-4">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div {% if message.tags %} class="alert alert-{{message.tags}} font-weight-bolder font-size-lg"{% endif %} >
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock page_messages %}

{% block page_title %}
    {{ title }}
{% endblock page_title %}

{% block breadcrumbs %}
    {% for item in breadcrumbs %}
        <li class="breadcrumb-item">
            <a href="{{ breadcrumbs|get_item:item }}" class="text-muted">{{ item }}</a>
        </li>
    {% endfor %}
{% endblock breadcrumbs %}

{% block subheader_toolbar %}
    <a class="btn btn-lg btn-primary font-weight-bolder" href="/users/create">
        <i class="fas fa-plus-circle"></i>
        NUEVO USUARIO
    </a>
{% endblock subheader_toolbar %}

{% block content %}
    <div class="container">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="usersDatatable" class="custom-datatable table table-hover">
                        <thead>
                            <tr>
                                <th><span>ID</span></th>
                                <th><span>Nombre</span></th>
                                <th><span>Rol</span></th>
                                <th><span>Fecha de Ingreso</span></th>
                                <th><span>Acciones</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                <!-- 
                                    <th><span>ID</span></th>
                                    <th><span>Nombre</span></th>
                                    <th><span>Rol</span></th>
                                    <th><span>Fecha de Ingreso</span></th>
                                    <th><span>Acciones</span></th>
                                -->
                                <tr>
                                    <td>
                                        <span>{{ forloop.counter }}</span>
                                    </td>
                                    <td>
                                        <span>
                                            <div class="d-flex align-items-center">
                                                {% if user.profile.image %}
                                                    <div class="symbol symbol-40 symbol-circle symbol-sm">
                                                        <img src={{user.profile.image.url}}>
                                                    </div>
                                                {% else %}
                                                    <div class="symbol symbol-light-{{ logo_colors|pick_color }} symbol-40 symbol-circle symbol-sm">
                                                        <span class="symbol-label font-size-h4">{{ user.first_name|make_list|first|upper }}</span>
                                                    </div>
                                                {% endif %}
                                                <div class="ml-3 font-weight-bolder">
                                                    <div class="text-dark-75 font-size-lg mb-0">
                                                        {{ user.first_name }}
                                                    </div>
                                                </div>
                                            </div>
                                        </span>
                                    </td>
                                    <td>
                                        <span>
                                            <div class="font-weight-bolder font-size-lg mb-0">
                                                {% if user|has_role:"admin" %}
                                                    Administrador
                                                {% elif user|has_role:"project_manager" %}
                                                    Project Manager
                                                {% elif user|has_role:"developer" %}
                                                    Desarrollador
                                                {% elif user|has_role:"tester" %}
                                                    Tester
                                                {% endif %}
                                            </div>
                                        </span>
                                    </td>
                                    <td>
                                        <span>
                                            <div class="font-weight-bolder text-primary mb-0">
                                                {{ user.date_joined|date:"d/m/Y" }}
                                            </div>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="text-nowrap">
                                            <a href="{#% url 'users-detail' user.id %#}" class="btn btn-sm btn-light-info btn-hover-info btn-icon mr-1">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                            <a href="{% url 'users-update' user.id %}" class="btn btn-sm btn-light-primary btn-hover-primary btn-icon mr-1">
                                                <i class="fas fa-pencil-alt"></i>
                                            </a>
                                            <a href="{#% url 'users-delete' user.id %#}" class="btn btn-sm btn-light-danger btn-hover-danger btn-icon mr-1">
                                                <i class="far fa-trash-alt"></i>
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
{% endblock content %}


<!-- --- -->
{% block template_vendor_js %}
{% endblock template_vendor_js %}

{% block template_page_js %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/b-html5-1.6.5/datatables.min.js"></script>
{% endblock template_page_js %}
<!-- --- -->



{% block custom_scripts %}
<!-- Datatables template CSS -->
<script>
    $(document).ready(function () {
        $('#usersDatatable').DataTable({
            "columns": [
                { "width": "1%" },
                { "width": "45%" },
                { "width": "34%" },
                { "width": "10%" },
                { "width": "10%" },
            ],
        });
    });
</script>
{% endblock custom_scripts %}

