/* Start:: General variables */
/* End:: General variables */
/* Start:: Site-wide CSS */
::selection {
  background: #0BB783;
  color: white;
}

/* End:: Site-wide CSS */
/* Start:: Logo CSS */
.brand-logo {
  margin-top: 10px;
  font-size: 3rem !important;
  color: white;
}

.brand-logo-mobile {
  color: white;
  margin-top: 5px;
  font-size: calc(1.5rem + .9vw);
}

/* End:: Logo CSS */
/* Start:: Header CSS */
.menu-item a {
  background-color: #D7F9EF !important;
}

.menu-item-active a {
  background-color: #0BB783 !important;
}

.menu-item-active a span {
  color: white !important;
}

@media (max-width: 768px) {
  .menu-item {
    margin: 10px 0px !important;
  }
}

/* End:: Header CSS */
/* Start:: User panel */
#profile-email {
  word-break: break-all;
  width: 150px;
}

@media (max-width: 768px) {
  #kt_quick_user {
    min-width: 100%;
  }
  #profile-email {
    max-width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

/* End:: User panel */
/* Start:: Form styles */
.card-title {
  color: #0BB783 !important;
}

.asteriskField {
  margin-left: 5px;
  color: red;
}

.custom-file-input ~ .custom-file-label::after {
  content: "Buscar";
}

.card-footer a, .card-footer button {
  width: 150px;
  margin: 0px 5px;
}

@media (max-width: 768px) {
  .card-footer a, .card-footer button {
    width: 100px;
  }
}

@media (min-width: 768px) {
  .card-title {
    font-size: 2rem !important;
  }
  .form-wrapper {
    padding: 0px 100px;
  }
}

/* End:: Form styles */
/* Start:: Breadcrumbs style */
.breadcrumb {
  top: -3px;
}

/* End:: Breadcrumbs style */
/* Start:: Datatables CSS */
.custom-datatable thead {
  text-transform: uppercase;
}

.custom-datatable thead tr th span {
  font-weight: 600;
  color: #b5b5b3;
}

.custom-datatable thead tr th:hover {
  color: #0BB783;
}

.custom-datatable tbody tr td span {
  font-weight: bold !important;
}

@media (max-width: 768px) {
  /* Prevent word wrap on mobile when table cell is too long */
}

/* Start:: Hide Datatables Sorting Icons */
@media (min-width: 768px) {
  table.custom-datatable thead .sorting:before,
  table.custom-datatable thead .sorting_asc:before,
  table.custom-datatable thead .sorting_desc:before,
  table.custom-datatable thead .sorting_asc_disabled:before,
  table.custom-datatable thead .sorting_desc_disabled:before {
    right: 0 !important;
    content: "" !important;
  }
  table.custom-datatable thead .sorting:after,
  table.custom-datatable thead .sorting_asc:after,
  table.custom-datatable thead .sorting_desc:after,
  table.custom-datatable thead .sorting_asc_disabled:after,
  table.custom-datatable thead .sorting_desc_disabled:after {
    right: 0 !important;
    content: "" !important;
  }
}

/* Start:: Hide Datatables Sorting Icons */
/* Start:: Replace Datatables default sorting icons with fontawesome icons */
@media (min-width: 768px) {
  table.custom-datatable thead th {
    position: relative;
    background-image: none !important;
  }
  table.custom-datatable thead tr th span {
    white-space: nowrap;
  }
  table.custom-datatable thead th.sorting_asc span, table.custom-datatable thead th.sorting_desc span {
    color: #0BB783 !important;
  }
  table.custom-datatable thead th.sorting:after,
  table.custom-datatable thead th.sorting_asc:after,
  table.custom-datatable thead th.sorting_desc:after {
    position: absolute !important;
    top: 12px !important;
    right: 8px !important;
    display: block !important;
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900 !important;
  }
  table.custom-datatable thead th.sorting_asc:after {
    content: "\f062" !important;
    text-align: left;
    opacity: 1 !important;
  }
  table.custom-datatable thead th.sorting_desc:after {
    content: "\f063" !important;
    text-align: left;
    opacity: 1 !important;
  }
}

/* End:: Replace Datatables default sorting icons with fontawesome icons */
/* End:: Datatables CSS */
/* Start:: Delete Project CSS */
#project-title-container {
  margin-left: 15px;
}

#project-title-container #project-title {
  font-size: 3rem;
}

#project-title-container #project-info {
  font-size: 1.4rem;
  display: block;
}

#project-title-container #project-date {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#project-title-container .symbol-label {
  font-size: 3rem !important;
}

#project-description-container {
  margin-top: 15px;
}

#project-description-container h3 {
  font-size: 1.3rem;
}

#project-description-container .description {
  margin-top: 10px;
  margin-left: 15px;
}

#project-description-container #project-short-description {
  font-size: 1.2rem;
}

#project-description-container #project-description {
  font-size: 1.5rem;
}

#project-button-container {
  margin-top: 15px;
}

#project-button-container button, #project-button-container a {
  margin: 0px 10px;
  width: 120px;
}

@media (max-width: 768px) {
  #project-title-container {
    margin-top: 15px;
    margin-left: 0px;
  }
  #project-title-container .col-md-12 {
    padding: 0px;
  }
  #project-title-container #project-title {
    font-size: 2rem;
  }
  #project-title-container #project-info {
    font-size: 1.2rem;
  }
  #project-title-container #project-date {
    margin-top: 1rem;
    justify-content: center;
  }
  #project-title-container .symbol-80 img {
    max-width: 60px !important;
    height: 60px !important;
  }
  #project-title-container .symbol-label {
    font-size: 3rem !important;
  }
  #project-description-container {
    font-size: 1rem;
  }
  #project-description-container #project-short-description {
    font-size: 1rem;
  }
  #project-description-container #project-description {
    font-size: 1.2rem;
  }
  #project-description-container .description {
    margin-left: 0px;
  }
}

/* End:: Delete Project CSS */
/* Start:: Project details page CSS */
#projects-detail-container #title-card #logo-col .symbol span {
  font-size: 3rem;
}

#projects-detail-container #title-card #logo-col .symbol img {
  height: auto !important;
}

#projects-detail-container #title-card #title-col #title {
  font-size: 3rem;
}

#projects-detail-container #title-card #title-col #short-description {
  font-size: 1.3rem;
}

#projects-detail-container #title-card #title-col #user, #projects-detail-container #title-card #title-col #user-email {
  font-size: 1.2rem;
}

#projects-detail-container #title-card #description {
  font-size: 1.2rem !important;
}

#projects-detail-container #title-card #icon-row #icon:hover .svg-icon-primary svg g [fill] {
  fill: #7F7F7F !important;
}

@media (max-width: 768px) {
  #projects-detail-container #title-card #logo-col {
    padding-left: 0px;
  }
  #projects-detail-container #title-card #title-col #title {
    text-align: center;
  }
  #projects-detail-container #title-card #title-col #short-description {
    text-align: center;
    margin-bottom: 10px;
  }
  #projects-detail-container #title-card #dates {
    justify-content: center !important;
  }
  #projects-detail-container #title-card #button-col {
    text-align: center;
  }
  #projects-detail-container #icon-row {
    justify-content: start !important;
  }
}

/* End:: Project details page CSS */
