/* Start:: General variables */
/* End:: General variables */
/* Start:: Logo CSS */
.brand-logo {
  margin-top: 10px;
  font-size: 3rem !important;
  color: white;
}

.brand-logo-mobile {
  color: white;
  margin-top: 5px;
  font-size: calc(1.5rem + .9vw);
}

/* End:: Logo CSS */
/* Start:: Header CSS */
.menu-item a {
  background-color: #D7F9EF !important;
}

.menu-item-active a {
  background-color: #0BB783 !important;
}

.menu-item-active a span {
  color: white !important;
}

@media (max-width: 768px) {
  .menu-item {
    margin: 10px 0px !important;
  }
}

/* End:: Header CSS */
/* Start:: User panel */
#profile-email {
  word-break: break-all;
  width: 150px;
}

@media (max-width: 768px) {
  #kt_quick_user {
    min-width: 100%;
  }
  #profile-email {
    max-width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

/* End:: User panel */
/* Start:: Form styles */
.card-title {
  color: #0BB783 !important;
}

.asteriskField {
  margin-left: 5px;
  color: red;
}

.custom-file-input ~ .custom-file-label::after {
  content: "Buscar";
}

.card-footer a, .card-footer button {
  width: 150px;
  margin: 0px 5px;
}

@media (max-width: 768px) {
  .card-footer a, .card-footer button {
    width: 100px;
  }
}

@media (min-width: 768px) {
  .card-title {
    font-size: 2rem !important;
  }
}

/* End:: Form styles */
/* Start:: Breadcrumbs style */
.breadcrumb {
  top: -3px;
}

/* End:: Breadcrumbs style */
