/* Start:: General variables */

// Theme colors
$primary:       									#FBAF4F;
$primary-hover:    									#df9841;
$primary-light:    									#fac789;
$primary-inverse:  									#FFFFFF;

/* End:: General variables */

/* Start:: Header CSS */
.menu-item-active .menu-item{
    background-color: $primary;
}
/* End:: Header CSS */