/* Start:: General variables */

// Theme colors
$primary:       								    #0BB783;
$primary-hover:    									#04AA77;
$primary-light:    									#D7F9EF;
$primary-inverse:  									#FFFFFF;

// Grid breakpoints - media queries
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px // custom breakpoint
) !default;

/* End:: General variables */



/* Start:: Logo CSS */
.brand-logo{
    margin-top: 10px;
    font-size: 3rem !important;
    color: white;
}

.brand-logo-mobile{
    color: white;
    margin-top: 5px;
    font-size: calc(1.5rem + .9vw);
}
/* End:: Logo CSS */



/* Start:: Header CSS */
.menu-item a{
    background-color: $primary-light !important;
}

.menu-item-active a{
    background-color: $primary !important;
    span{
        color: white !important;
    }
}

// Tablet & Mobile Modes
@media (max-width: 768px) {
    .menu-item{
        margin: 10px 0px !important;
    }
}
/* End:: Header CSS */



/* Start:: User panel */
#profile-email{
    word-break: break-all;
    width: 150px;
}

@media (max-width: 768px) {
    #kt_quick_user{
        min-width: 100%;
    }

    #profile-email{
        max-width: 150px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}
/* End:: User panel */

/* Start:: Form styles */
.card-title {
    color: $primary !important;
}

.asteriskField {
    margin-left: 5px;
    color: red;
}

.custom-file-input ~ .custom-file-label::after {
    content: "Buscar";
}

.card-footer {
    a, button {
        width: 150px;
        margin: 0px 5px;
    }
}

@media (max-width: 768px) {
    .card-footer {
        a, button {
            width: 100px;
        }
    }
}

@media (min-width: 768px) {
    .card-title {
        font-size: 2rem !important;
    }

    .form-wrapper{
        padding: 0px 100px;
    }
}
/* End:: Form styles */

/* Start:: Breadcrumbs style */
.breadcrumb {
    top: -3px;
}
/* End:: Breadcrumbs style */

/* Start:: Datatables CSS */
.custom-datatable{
    thead{
        text-transform: uppercase;

        tr{
            th{
                span{
                    font-weight: 600;
                    color: #b5b5b3;
                }
                
                &:hover{
                    color: $primary;
                }
            }
        }
    }

    tbody{
        tr{
            td{
                span{
                    font-weight: bold !important;
                }
            }
        }
    }
}

@media(max-width: 768px){
    /* Prevent word wrap on mobile when table cell is too long */
    .custom-datatable tbody tr td{
        white-space: nowrap;
        overflow: scroll;
    }
}

/* Start:: Hide Datatables Sorting Icons */
@media (min-width: 768px) {
    table.custom-datatable thead .sorting:before,
    table.custom-datatable thead .sorting_asc:before,
    table.custom-datatable thead .sorting_desc:before,
    table.custom-datatable thead .sorting_asc_disabled:before,
    table.custom-datatable thead .sorting_desc_disabled:before {
        right: 0 !important;
        content: "" !important;
    }

    table.custom-datatable thead .sorting:after,
    table.custom-datatable thead .sorting_asc:after,
    table.custom-datatable thead .sorting_desc:after,
    table.custom-datatable thead .sorting_asc_disabled:after,
    table.custom-datatable thead .sorting_desc_disabled:after {
        right: 0 !important;
        content: "" !important;
    }
}
/* Start:: Hide Datatables Sorting Icons */

/* Start:: Replace Datatables default sorting icons with fontawesome icons */
@media (min-width: 768px) {
    table.custom-datatable thead th {
        position: relative;
        background-image: none !important;
    }
    
    table.custom-datatable thead tr th span{
        white-space: nowrap;

        // Left align sorting icon
        margin-left: 10px !important;
    }
    
    // Left align sorting icon
    table.custom-datatable tbody tr td span{
        > div{
            margin-left: 10px !important;
        }

        > span{
            margin-left: 10px !important;
        }
    }
    
    table.custom-datatable thead th.sorting:after,
    table.custom-datatable thead th.sorting_asc:after,
    table.custom-datatable thead th.sorting_desc:after {
        position: absolute !important;
        top: 12px !important;
        left: 8px !important;
        display: block !important;
        font-family: "Font Awesome 5 Free" !important;
        font-weight: 900 !important;
    }
    
    table.custom-datatable thead th.sorting_asc:after {
        content: "\f062" !important;
        text-align: left;
        opacity: 1 !important;
    }
    
    table.custom-datatable thead th.sorting_desc:after {
        content: "\f063" !important;
        text-align: left;
    
        opacity: 1 !important;
    }
}
/* End:: Replace Datatables default sorting icons with fontawesome icons */

/* End:: Datatables CSS */

/* Start:: Delete Project CSS */
#project-title-container{
    margin-left: 15px;

    #project-title{
        font-size: 3rem;
    }
    
    #project-info{
        font-size: 1.4rem;
        display: block;
    }
    
    #project-date{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .symbol-label{
        font-size: 3rem !important;
    }
}

#project-description-container{
    margin-top: 15px;

    h3{
        font-size: 1.3rem;
    }

    .description{
        margin-top: 10px;
        margin-left: 15px;
    }

    #project-short-description{
        font-size: 1.2rem;
    }

    #project-description{
        font-size: 1.5rem;
    }
}

#project-button-container{
    margin-top: 15px;

    button, a{
        margin: 0px 10px;
        width: 120px;
    }
}

@media(max-width: 768px){
    #project-title-container{
        margin-top: 15px;
        margin-left: 0px;

        .col-md-12{
            padding: 0px;
        }
        
        #project-title{
            font-size: 2rem;
        }
    
        #project-info{
            font-size: 1.2rem;
        }
    
        #project-date{
            margin-top: 1rem;
            justify-content: center;
        }
    
        .symbol-80{
            img{
                max-width: 60px !important;
                height: 60px !important;
            }
        }

        .symbol-label{
            font-size: 3rem !important;
        }
    }

    #project-description-container{
        font-size: 1rem;

        #project-short-description{
            font-size: 1rem;
        }
    
        #project-description{
            font-size: 1.2rem;
        }

        .description{
            margin-left: 0px;
        }
    }
}
/* End:: Delete Project CSS */